//
// Base
//

// 要素そのもののデフォルトスタイルを定義

// Reset
//

html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

h1, h2, h3,  h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}

ol, ul {
	list-style: none;
}

button, input, select, textarea {
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img, embed, object, audio, video {
	height: auto;
	max-width: 100%;
}

iframe {
	max-width: 100%;
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td, th {
	padding: 0;
	text-align: left;
}

img {
	vertical-align: top;
}

// Base
//

html {
	font-size: $font-size-root;
	-webkit-text-size-adjust: 100%;
}

body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
	color: $base-color;
}

p {
  margin-bottom: 1em;
}

a {
	color: $link-color;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
